node_modules
.DS_Store
dist
dist-ssr
*.local
.env
.env.local
.idea
.vscode
coverage
test-results
__pycache__
*.pyc
*.pyo
*.pyd
venv
.venv
env
.env
.pytest_cache
data/*.csv
.mypy_cache
.dmypy.json
dmypy.json
*.egg-info
dist
build
